.container {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.container2 {
    height: 400px;
    padding: 10px;
    border: 1px solid black;
}

.editor-container {
    height: 100%;
    position: relative;

    .index-col {
        overflow: hidden;
        position: absolute;
        height: 693px;
        width: 25px;
        font-size: 14px;
        line-height: 16px;
        padding-top: 10px;
        left: 0;
        padding-left: 3px;
        text-align: center;
        border-right: 1px solid black;
    }
}

.editor {
    resize: none;
    font-size: 14px;
    line-height: 16px;
    height: 700px;
    width: 100%;
    border: 2px solid black;
    position: relative;
}

.output {
    resize: none;
    font-size: 14px;
    line-height: 16px;
    height: 700px;
    width: 100%;
    border: 2px solid black;
    position: relative;
    overflow-y: auto;
    font-weight: 550;
    white-space: nowrap;
}

.editor_colors,
.editor_content {
    padding: 16px;
    height: 693px;
    top: 0;
    padding: 10px;
    padding-top: 8px;
    padding-bottom: 0;
    margin-left: 27px;
    border-left: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: monospace;
    font-size: 13px;
    overflow-x: auto;
    overflow-y: auto;
    overflow-wrap: normal;
    white-space: nowrap;
    font-weight: 550;
}

.editor_content {
    position: absolute;
    color: transparent;
}
.editor_content:focus {
    outline: 1px solid black;
}

.editor_colors {
    position: absolute;
    user-select: none;
}

.editor_colors i {
    font-style: normal;
}

.output_error {
    color: #800614;
}

.row_error {
    background-color: #800614;
    color: #fefefe;
}

.output_standard {
    color: #6b8acc;
}

.output_fail {
    color: #800614;
}

.output_success {
    color: #56ae57;
}
